

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-image:url("../images/23048.jpeg");
    background-repeat: no-repeat;
    width: auto;
    height: 100vh;
    background-size: cover;
}

header { 
    text-align: center;
    height: 150px;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    font-weight:bold;
    top: auto; 
    padding-top: 50px;
    letter-spacing: 5px;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

.clearfix {
    overflow: auto;
    zoom: 1;
    margin: 0 auto; /* to centre the object*/
}

nav {
    position: absolute;
    left: 66px;
    top: 170px;
    width: 250px;
    height: 500px;
    background-color: #ef8d7c;
    border-radius: 60px;
    box-shadow: 5px 5px 10px 5px #89512c;
}

/*---------*/
img.gummybear {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
    width: 3%;
    top: 29px;
    position: absolute;
    left: 1023px;
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
/*---------*/

a {
    color: rgb(255, 255, 255);
    font-family: 'Josefin Sans', sans-serif;
    font-weight:bold;
    text-decoration: none;
    padding-top: 10px;
}

.scoreboard{
    color: rgb(255, 255, 255);
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 90px;
    margin-top: 77px;
}

.score{
    background-color: #e60073;
    width: 50px;
    height: 30px;
    border-radius: 60px;
    text-align: justify;
    justify-content: center;
    display: flex;
    padding: 5px;
    text-align-last: center;
    align-items: center;
    font-size: 22px;
    font-weight:bold;
    margin-top: 10px;

}/*this is the player score box*/

#bot-challenge-text {
    color: rgb(255, 255, 255);
    font-family: 'Josefin Sans', sans-serif;
     margin-left: 55px;
    margin-top: 70px;
    font-size: 20px;
    font-weight:bold;
}

/*---- toggle switch----*/
input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 25px;
  background: grey;
  display: block;
  border-radius: 50px;
  position: relative;
  margin: 0 auto;
  
}

label:after {
  content: "";
  position: absolute;
  top: 1px;
  left:1px;
  width: 22.5px;
  height: 22.5px;
  background: #fff;
  border-radius: 22.5px;
  transition: 0.3s;
}

input:checked + label {
  background: #a600ff;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 32.5px;
}

/*------*/

#gameboard {
    height: 550px;
    width: 550px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0 auto; /* to centre the object*/
    border-radius: 60px;
    background-color:rgba(255, 255, 255, 0.202)
}

.box {
    height: 150px;
    width: 150px; 
    box-shadow: 10px 10px 10px 0px peru; 
    background-color: rgb(171, 247, 222,0.7);
    border-radius: 60px;
    text-align: justify;
}
.box:hover {
    background: rgb(171, 247, 222,0.2);
    color:  rgb(171, 247, 222,0.7);
    cursor: pointer;
}

.player-one {
    background-image:url("../images/purplebear.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 120px;
    background-position: center;
}

.player-two {
    background-image:url("../images/fish.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 140px;
    background-position: center;
}


.result-message button {
    width:130px;
    height: 80px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    padding:10px;
    background:rgb(246, 124, 30);
    border:0;
    border-radius: 60px;
    outline:none;
    margin-top: 20px;
    box-shadow: 5px 5px 10px 5px #580c47;
}

.winning-message button:hover {
    background: #986c7b;
    color: #fff;
    cursor: pointer;
}

.result-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 100px;
  flex-direction: column;
  font-family: 'Josefin Sans', sans-serif;
}

.result-message.show {
  display: flex;
}

p {
    position: static;
    height: 30px;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 120px;
    padding-left: 80px;
}

#welcome-body{
    background-image:url("../images/entry.jpeg");
    background-repeat: no-repeat;
    width: auto;
    height: 100vh;
    background-size: contain;
    background-position: center;
    background-color: #580c47;
}

#welcome {
    color: rgb(255, 255, 255);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 82px;
    font-weight:bold;
    top: auto; 
    letter-spacing: 5px;
    padding-left: 650px;
    border-right-style: solid;
    padding-right: 650px;
    text-align: justify;
    padding-top: 150px;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}


.result-message button {
    width: 105px;
    height: 45px;   
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    padding:10px;
    background:rgb(246, 124, 30);
    border:0;
    border-radius: 60px;
    outline:none;
    margin-top: 20px;
    box-shadow: 5px 5px 10px 5px #580c47;
}

.entergame button:hover {
    background: #986c7b;
    color: #fff;
    cursor: pointer;
}


.entergame button {
    width:130px;
    height: 80px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    padding:10px;
    background:rgb(246, 124, 30);
    border:0;
    border-radius: 60px;
    outline:none;
    margin-top: 20px;
    box-shadow: 5px 5px 10px 5px #580c47;
}

.entergame{
    padding-top: 50px;
    padding-left: 100px;
}

#copyright{
     color: rgb(107, 107, 107);
}
 footer{
    bottom: 0px;
    padding-top: 150px;
 }



